<content class="features">
  <h3>As a guest, I can...</h3>
  <ul>
    <li><%= link_to "Search for units to reserve", search_path %></li>
    <li><%= link_to "See my reservations", guests_reservations_path %></li>
    <li><%= link_to "See units I've previously reserved", guests_units_path %></li>
  </ul>
</content>
