<content class="features">
  <h3>As an owner, I can...</h3>
  <ul>
    <li><%= link_to "Create a new unit", new_owners_unit_path %></li>
    <li><%= link_to "See my units", owners_units_path %></li>
    <li><%= link_to "See reservations for my units", owners_reservations_path %></li>
  </ul>
</content>
