<content>
  <h2>Owner</h2>
  <ul class="min">
    <li><%= link_to "Manage Your Units", owner_units_path %></li>
    <li><%= link_to "Reservations for Your Units", owner_reservations_path %></li>
  </ul>
</content>
