<div class="reservation partial" data-type="reservation">
  <h4><%= link_to reservation.to_s, guest_reservation_path(reservation), data: { action: :view } %></h4>
  <time data-attr="start_at"><%= l(reservation.start_at) %></time> &mdash;
  <time data-attr="end_at"><%= l(reservation.end_at) %></time>
  <p><%= reservation.unit.address %></p>
</div>
