<content id="reservations">

  <% if @guest.reservations.none? %>
    <p>You have no reservations.</p>
  <% end %>

  <% if @guest.reservations.now.present? %>
    <h3>Happening Now</h3>
    <%= render partial: 'guests/reservations/reservation', collection: @guest.reservations.now %>
  <% end %>

  <% if @guest.reservations.soon.present? %>
    <h3>Happening Soon</h3>
    <%= render partial: 'guests/reservations/reservation', collection: @guest.reservations.soon %>
  <% end %>

  <% if @guest.reservations.later.present? %>
    <h3>Happening Later</h3>
    <%= render partial: 'guests/reservations/reservation', collection: @guest.reservations.later %>
  <% end %>

</content>
