<content>

  <% if @owner.reservations.none? %>
    <p>There are no reservations for your units.</p>
  <% end %>

  <% if @owner.reservations.now.present? %>
    <h3>Happening Now</h3>
    <%= render partial: 'owners/reservations/reservation', collection: @owner.reservations.now %>
  <% end %>

  <% if @owner.reservations.soon.present? %>
    <h3>Happening Soon</h3>
    <%= render partial: 'owners/reservations/reservation', collection: @owner.reservations.soon %>
  <% end %>

  <% if @owner.reservations.later.present? %>
    <h3>Happening Later</h3>
    <%= render partial: 'owners/reservations/reservation', collection: @owner.reservations.later %>
  <% end %>

</content>
