body {
  background-color: #eee;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 40px;
}

a {
  font-weight: 700;
}

input, select {
  font-weight: 500;
  font-size: 18px;
  margin: 4px 0 5px 0;
  padding: 9px;
  border: 1px solid #666;
  background-color: #fff;
}

nav {
  font-weight: 800;
  font-weight: bold;
  margin: 4px 0 5px 0;
}

h1, h2, h3, h4, h5 {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  padding: 0 0 0 0;
  margin: 20px 0 3px 0;
}

ol, ul, li, p, dl, dd, dt {
  padding: 3px 0 3px 0;
  margin: 0;
}

dt {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
}

ol.min, ul.min {
  list-style-type: none;
}

li.unit img {
  display: inline;
  vertical-align: top;
}

li.unit > div {
  display: inline-block;
}
