<content>
  <% if @search.valid? %>
    <p><%= @search %></p>
    <% if @search.results.present? %>
      <ul id="results">
        <%= render partial: 'unit', collection: @search.results %>
      </ul>
    <% else %>
      <p>Sorry, nothing is available.</p>
    <% end %>
  <% else %>
    <div class="errors">
      <%= @search.errors.full_messages.join(", ") %>
    </div>
  <% end %>
</content>
