<nav>
  <%= link_to "New Unit", new_owners_unit_path %>
</nav>

<content>
  <% if @units.present? %>
    <%= render partial: 'owners/units/unit', collection: @units %>
  <% else %>
    <p>You've not created any units, yet.</p>
  <% end %>
</content>
