<content>
  <%= form_for [:owners, @unit] do |f| %>
    <%= render 'shared/errors', object: @unit %>
    <div><%= f.text_field :address, placeholder: 'address' %></div>
    <%= f.submit %>
  <% end %>
</content>
